.flag {
  width: 400px;
  height: 250px;
  border: 2px solid black;
  position: relative;
  background-color: white;
}

.cross-vertical {
  position: absolute;
  width: 50px;
  height: 100%;
  left: 175px;
  background-color: red;
}

.cross-horizontal {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 100px;
  background-color: red;
}

.small-cross {
  position: absolute;
  width: 40px;
  height: 40px;
}

.small-cross .vertical {
  width: 10px;
  height: 40px;
  background-color: red;
  position: absolute;
  left: 15px;
}

.small-cross .horizontal {
  width: 40px;
  height: 10px;
  background-color: red;
  position: absolute;
  top: 15px;
}

.top-left {
  top: 30px;
  left: 40px;
}

.top-right {
  top: 30px;
  right: 40px;
}

.bottom-left {
  bottom: 30px;
  left: 40px;
}

.bottom-right {
  bottom: 30px;
  right: 40px;
}
