.flag {
  width: 400px;
  height: 250px;
  border: 2px solid black;
  position: relative;
  background-color: #003897;
}

.cross_white_v {
  width: 60px;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 130px;
}

.cross_white_h {
  width: 100%;
  height: 60px;
  background-color: white;
  position: absolute;
  top: 90px;
}

.cross_red_v {
  width: 30px;
  height: 100%;
  background-color: #d72828;
  position: absolute;
  left: 145px;
}

.cross_red_h {
  width: 100%;
  height: 30px;
  background-color: #d72828;
  position: absolute;
  top: 105px;
}
