.flag {
  width: 400px;
  height: 250px;
  border: 2px solid black;
  position: relative;
  display: flex;
  flex-direction: column;
}

.back_atas {
  width: 100%;
  height: 50%;
}

.back_bawah {
  width: 100%;
  height: 50%;
}

.triangle_biru {
  width: 0;
  height: 0;
  border-top: 125px solid transparent;
  border-bottom: 125px solid transparent;
  border-left: 200px solid #11457e;
  position: absolute;
  left: 0;
  top: 0;
}
