.anak1{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid black;
}


.anak2{
    width: 200px;
    height: 200px;
    background-color: green;
    border: 2px solid black;
    
}

.anak3{
    width: 200px;
    height: 200px;
    background-color: red;
    border: 2px solid black;
    
}

.bapak1, .bapak2, .bapak3{
    display: flex;
    color: aqua;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
}

body{
    margin: 0px;
    padding: 0px;
}